<nav class = "navbar navbar-inverse">
    <div class= "container-fluid">
        <div class="navbar-header">
            <a class = "navbar-brand" style="cursor: pointer;">AU MANAGAMENT PORTAL</a>
        </div>
        <ul class= "nav navbar-nav">
            <li routerLink ="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a style="cursor: pointer;">HOME</a></li>
            <li routerLink ="/grads" *ngIf="isAuthenticated" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><a style="cursor: pointer;" >ONBOARDING</a></li>
            <li routerLink ="/demands" *ngIf="isAuthenticated" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><a style="cursor: pointer;">DEMAND</a></li>
            <li routerLink ="/trends" *ngIf="isAuthenticated"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a style="cursor: pointer;">TRENDS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLink ="/signup" *ngIf="!isAuthenticated" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a style="cursor: pointer;"><span class="glyphicon glyphicon-user"></span>SIGN UP</a></li>
            <li routerLink ="/" *ngIf="!isAuthenticated" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><a style="cursor: pointer;"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a></li>
            <li routerLink ="/home" *ngIf="isAuthenticated" ><a style="cursor: pointer;"(click)="signout()"><span class="glyphicon glyphicon-log-out"></span>LOGOUT</a></li>

        </ul>

    </div>
</nav>
