input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 80w;
    height: 80vw;
    background: rgba(255, 255, 255, 0.938);
    z-index: 50;
}

.firstname{
    
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

option{
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}


option:empty{
    display: none;
    }