<div class="row" *ngIf="!admin" >
    <div class="col-xs-5">
        <button class="btn btn-success" (click)="onNew()" >NEW DEMAND</button>
    </div>
</div>
<hr>
<!-- 
<div class="row">
    <div class="col-xs-12">
        <app-demanditem *ngFor = "let demand of demands; let i= index" [demand]=demand [index]=i ></app-demanditem>
    </div>
</div> -->

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Location</th>
                <th>Skill</th>
                <th>Start Date</th>
                <th>Count</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let demand of demands; let i= index">
                <td *ngIf="this.user.id === demand.empid || admin" >{{ demand.demandid }}</td>
                <td *ngIf="this.user.id === demand.empid || admin">{{ demand.location }}</td>
                <td *ngIf="this.user.id === demand.empid || admin">{{ demand.skills }}</td>
                <td *ngIf="this.user.id === demand.empid || admin">{{ demand.start }}</td>
                <td *ngIf="this.user.id === demand.empid || admin">{{ demand.count }}</td>
                <td *ngIf="this.user.id === demand.empid || admin">{{ demand.status }}</td>
                <td *ngIf="!admin && this.user.id === demand.empid">
                    <a style="cursor: pointer;"[routerLink]= i ><span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a style="cursor: pointer;" (click)="onDelete(demand)">
                        <span class="glyphicon glyphicon-trash">
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

