.btn-success{
background-color: rgb(91, 182, 94);
}
.glyphicon-trash
{
   
    color: rgba(255, 43, 43, 0.795);
    padding-left: 3px;
}

.glyphicon-edit{
    padding-right: 3px;
    color: rgb(91, 182, 94);

}