<!-- <div class="container">
   
    
    <div class="row">
        <div class="col-xs-12">
            <div class = "btn-group" appDropdown>
                <button type="button" class = "btn btn-primary dropdown-toggle" appDropdown>MANAGE DEMAND<span class="caret"></span>  </button>
                <ul class = "dropdown-menu" >
                    <li routerLink = "edit"><a style="cursor: pointer;">Edit Demand</a></li>
                    <li><a style="cursor: pointer;" (click)="onDelete()" >Delete Demand</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label><h3>Id  </h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.demandid }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3>Hiring Manager Id  </h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.empid }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3>   Skill  </h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.skills }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3>   Location  </h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.location }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3>   Start  </h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.start | date }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3>   Count  </h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.count }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3>   Status  </h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.status }}</h3></label>
        </div>
        
      </div>
    </div>
     -->
