<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="demandform" (ngSubmit) = "onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!demandform.valid" >SAVE</button>
                    <button type="button" class=" btn btn-danger" (click) = "onClear()" >CANCEL</button>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-xs-12" class="form-group">
                    <label for="id">ID</label>
                    <p *ngIf="!editmode" id="id" class="form-control">grad Id</p>
                    <input  type="number" id="id" class="form-control" formControlName="id">
                </div> -->
                 
                <div class="col-xs-2">
                    <label for="skills">Skill</label>
                </div>
                <div class="col-xs-9">
                    <input type="text" id="skills" class="form-control" formControlName="skills" >
                </div>

                <div class="col-xs-2">
                    <label for="count">Count</label>
                </div>
                <div class="col-xs-9">
                    <input type="number" id="count" class="form-control" formControlName="count">
                </div>

                <div class="col-xs-2">
                    <label for="location">Location</label>
                </div>
                <div class="col-xs-9">
                    <input type="text" id="location" class="form-control" formControlName="location">
                </div>

                <div class="col-xs-2">
                    <label for="start">Start Date</label>
                </div>
                <div class="col-xs-9">
                    <input type="date" id="start" class="form-control" formControlName="start">
                </div>
                <div class="col-xs-2">
                    <label for="empid">Employee Id</label>
                </div>
                <div class="col-xs-9">
                    <input type="number" id="empid" class="form-control" formControlName="empid">
                </div>


                <div class="col-xs-2">
                    <label for="status">Status</label>
                </div>
                <div class="col-xs-9">
                    <input type="text" id="status" class="form-control" formControlName="status">
                </div>
            </div>
        </form>
    </div>
</div>
