<!-- <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4" >
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
</div> -->
<div class="row" >
    <div class="col-xs-2"></div>
    <div class="col-xs-5">
            <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    </div>
  </div>