<div class="container">
    <div class="row">
        <!-- <div class="col-xs-12">
            <img src="" alt= "heloo" class = "img-responsive" style= "max-width: 300px;">
        </div> -->
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class = "btn-group" appDropdown>
                <button type="button" class = "btn btn-primary dropdown-toggle" appDropdown>MANAGE DEMAND<span class="caret"></span></button>
                <ul class = "dropdown-menu" >
                    <li routerLink = "edit"><a style="cursor: pointer;">Edit Demand</a></li>
                    <li><a style="cursor: pointer;" (click)="onDelete()" >Delete Demand</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label><h3><span class="label label-default">Id</span></h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.demandid }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3><span class="label label-default">Hiring Manager Id</span></h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.empid }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3><span class="label label-default">Skill</span></h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.skills }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3><span class="label label-default">Location</span></h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.location }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3><span class="label label-default">Start</span></h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.start | date }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3><span class="label label-default">Count</span></h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.count }}</h3></label>
        </div>
        <div class="col-xs-4">
            <label><h3><span class="label label-default">Status</span></h3></label>
        </div>
        <div class="col-xs-8">
            <label><h3>{{ demand.status }}</h3></label>
        </div>
        
      </div>
    </div>
    
