.container{
    font-family:Roboto,sans-serif;
      background-image:url(https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg) ;
    
      width:100%;
      height:100vh;
     border-style: 1px solid grey;
     font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}