<!-- <div class="container">


<div class="row">
    <div class="col-xs-5">
        <h1>{{ grad.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class = "btn-group" appDropdown>
            <button type="button" class = "btn btn-primary dropdown-toggle" appDropdown>MANAGE GRAD<span class="caret"></span>  </button>
            <ul class = "dropdown-menu" >
                <li routerLink = "edit"><a style="cursor: pointer;">Edit Grad</a></li>
                <li><a style="cursor: pointer;" (click)="onDelete()" >Delete Grad</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <label><h3>Id</h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.id }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3>Demand Id</h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.demandId }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3>Name</h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.name }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3>Email</h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.email }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> College  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.college }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> CGPA  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.cgpa }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> Contact Number  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.personalNumber }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> Permanent Address  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.permanentAddress }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> Present Address  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.presentAddress }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> Location  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.location }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> Onboarding Date  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.onboardingStart | date }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> ETA For Completion  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.eta | date }}</h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> Background Verification  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3> {{ grad.bgvCheck }} </h3></label>
    </div>
    <div class="col-xs-4">
        <label><h3> Onboarding Status  </h3></label>
    </div>
    <div class="col-xs-8">
        <label><h3>{{ grad.onboardingStatus }}</h3></label>
    </div>
  </div>
</div> -->
