<div class="row">
    <div class="col-xs-12">
        <a style = "cursor: pointer;" class = "list-group-item clearfix" [routerLink]= "[index]"  routerLinkActive= "active" [routerLinkActiveOptions] = "{exact: true}">
            <div class="pull-left">
                <h4 class = "list-group-item-heading">{{ grad.demandId }}</h4>
                <p lcass = "list-group-item-text">{{ grad.name }}</p>
            </div>
            <span class = "pull-right">
                <img src="" alt="grad image" >
            </span>

        </a>
    </div>
</div>
