<div class="container">

    <h1 class="my-4">Welcome to Onboarding Management </h1>
    <div class="item active">
        <img src="../../assets/Images/back1.jpg" alt="accolite">
    </div>
    <br>
    <br>
    <h3>Accolite is a global IT Services company headquartered in Dallas, USA with offices in India. Recognized for
        providing cutting edge information technology services with a proven track record of being totally client
        focussed, Accolite promises efficient, affordable and on-time IT services.</h3>
    <h3>'Accolite' is derived from the Greek Word 'Akolouthos' defined as a dedicated person who contributes to the
        fulfillment of a need. True to its meaning, Accolite has always been devoted to the IT needs of its clients and
        will continue to do so.</h3>
    <h3>Starting with a humble beginning back in 2007 in Dallas with a single associate and a home office, today the
        company has grown to more than 750 associates distributed across multiple offices and geographic locations. A
        privately held organization, Accolite has been profitable from the first year of operation and serviced 100+
        customers over the years.</h3>
        </div>