<div class="container">

    <h1 class="my-4">Welcome to Onboarding Management </h1>
    <div class="item active">
        <img src="../../assets/Images/back1.jpg" alt="accolite">
    </div>
    <br>
    <br>
    <h3>Accolite is a global IT Services company headquartered in Dallas, USA with offices in India. Recognized for
        providing cutting edge information technology services with a proven track record of being totally client
        focussed, Accolite promises efficient, affordable and on-time IT services.</h3>
    <h3>'Accolite' is derived from the Greek Word 'Akolouthos' defined as a dedicated person who contributes to the
        fulfillment of a need. True to its meaning, Accolite has always been devoted to the IT needs of its clients and
        will continue to do so.</h3>
    <h3>Starting with a humble beginning back in 2007 in Dallas with a single associate and a home office, today the
        company has grown to more than 750 associates distributed across multiple offices and geographic locations. A
        privately held organization, Accolite has been profitable from the first year of operation and serviced 100+
        customers over the years.</h3>
        </div>
    <br>
    <br>
    <footer class="page-footer font-small unique-color-dark" style="width: 100%">
        <div class=" text-center text-md-left mt-5" style="background-color: black">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                   </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white">
                    <h6 class="text-uppercase font-weight-bold">Clients</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="https://www.morganstanley.com/">Morgan Stanley</a>
                    </p>
                    <p>
                        <a href="https://www.fedex.com/global/choose-location.html">Fedex</a>
                    </p>

                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white">
                    <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="http://accolite.com/">Home</a>
                    </p>
                    <p>
                        <a href="http://accolite.com/contact.php">Help</a>
                    </p>

                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color: white">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        Bangalore, Karnataka
                    </p>
                    <p>
                        Tollfree: +1 888-993-8999
                    </p>
                </div>
            </div>
        </div>
    </footer>
